* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html { color-scheme: dark }

body {
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}

.container {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

h1 {
  text-align: center;
  font-size: 3em;
}

/* Player 1 & 2 section styling goes here - styling starts at '.players' & ends at '.form-row input:focus' */
.players {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

section {
  padding: 40px 30px 40px;
}

section > div {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  margin: 0;
  padding: 10px 0;
  gap: 80%;
}

label, input {
  margin: 10px 0;
  height: auto;
}

.form-row input {
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  box-shadow: none;
  padding: 5px;
}

.form-row input:invalid {
  border: 1px solid red; /* or #D55C5F */
  box-shadow: none;
}

.form-row input:focus {
  box-shadow: 5px 4px 4px #c7c9cc;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 250px;
  margin: 40px auto;
}

.cell {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #FFF;
  background-color: #333333;
  cursor: pointer;
  line-height: 100px;
  text-align: center;
  /* vertical-align: middle; */
}

.cell:hover {
  border: 5px solid #E5E7EB;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
}

.start,
.restart {
  margin: 2rem;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  display: inline-block;
}

.start {
  background-color: #596D48;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.start:hover {
  background: hsl(92 20% 56%);
}

.restart {
  background-color: red;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.restart:hover {
  background: hsl(0, 100%, 75%);
}
